
.layout-demo {
    height: 100%;
    width: 100%;
    background: var(--color-fill-2);
}

.layout-demo .arco-layout-sider{
    padding-top: 64px;
    box-sizing: border-box;
    width: 220px !important;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}

.layout-demo .arco-layout-content {
    background: var(--color-fill-2);
    font-stretch: condensed;
    font-size: 16px;
    padding:84px 20px 20px 240px;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 1100px;
}

.layout-demo .arco-layout-header {
    height: 64px;
    line-height: 64px;
    left: 0;
    min-width: 1100px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: var(--color-bg-3);
}

